
.modal_score {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.modal_lose {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
}

.modal_button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    color: crimson;
}


